body {
    background-color: #fdf6f9;
    font-family: 'Poppins', sans-serif;
}

.contenedor {
    width: 420px;
    margin: 60px auto;
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(255, 182, 193, 0.3);
    border-top: 6px solid #f8a5c2;
}

h2 {
    text-align: center;
    color: #b71540;
    margin-bottom: 25px;
    font-weight: 600;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: 500;
    color: #555;
    margin-bottom: 6px;
}

input, select {
    padding: 9px;
    margin-bottom: 15px;
    border: 1px solid #f8a5c2;
    border-radius: 8px;
    transition: 0.3s;
    font-size: 14px;
}

input:focus, select:focus {
    border-color: #e84393;
    box-shadow: 0 0 5px rgba(232, 67, 147, 0.3);
    outline: none;
}

button {
    background-color: #f78fb3;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    transition: background 0.3s, transform 0.1s;
}

button:hover {
    background-color: #e84393;
    transform: scale(1.02);
}

.exito, .error {
    text-align: center;
    padding: 10px;
    margin: 15px auto;
    width: 90%;
    border-radius: 8px;
    font-weight: 500;
}

.exito {
    background-color: #ffe6f0;
    color: #b71540;
    border: 1px solid #f8a5c2;
}

.error {
    background-color: #ffe0e0;
    color: #721c24;
    border: 1px solid #f5a5a5;
}