body {
    font-family: 'Segoe UI', sans-serif;
    background: #ffd2e3;
    margin: 0;
    padding: 0;
}

.layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
    gap: 30px;
}

.panel {
    margin-top: 200px;
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
}

h2 {
    margin-bottom: 15px;
    color: #333;
}

/* Inputs */
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 8px;
    border: 1px solid #bbb;
}

.btn-guardar {
    background: #ff3482;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-guardar:hover {
    background: #ff5c9c;
}

/* Tabla */
.tabla {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

.tabla th, .tabla td {
    border: 1px solid #ddd;
    padding: 10px;
}

.tabla th {
    background: #ffe3ef;
}

.btn-eliminar {
    background: #d90429;
    border: none;
    padding: 7px 12px;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.btn-eliminar:hover {
    background: #a5001f;
}

/* Mensajes */
.mensaje {
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 12px;
    font-size: 14px;
}

.mensaje.exito {
    background: #d4f8e8;
    color: #146c43;
}

.mensaje.error {
    background: #ffe0e0;
    color: #b30000;
}
.btn-ver {
    background: #0077b6;
    color: white;
    padding: 7px 12px;
    border-radius: 6px;
    text-decoration: none;
}

.btn-ver:hover {
    background: #005f8b;
}
