body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #fde8f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow:  0px 6px 18px rgba(255, 105, 180, 0.25);
    width: 420px;
    text-align: center;
    border: 2px solid #ffb9d9;
}

h2 {
    color:#d63384;;
    margin-bottom: 20px;
    font-weight: 600;
}

select {
    width: 90%;
    padding: 12px;
    margin: 12px 0;
    border: 1px solid #f3a6c8;
    border-radius: 10px;
    background-color: #fff5fa; /* fondo rosado muy sutil */
    color: #6b2f4f;
    transition: 0.3s;
}
select:focus {
    border-color: #e0639b;
    box-shadow: 0 0 6px rgba(224, 99, 155, 0.4);
}

input[type="submit"] {
    background-color:  #e75480;
    color: white;
    padding: 12px 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: #d83264;
}

.mensaje {
    margin-top: 15px;
    font-weight: bold;
}