
        body {
            background: #fdeaff;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            text-align: center;
        }
        h2 {
            margin-top: 30px;
            color: #c72ba5;
        }
        .contenedor {
            width: 90%;
            margin: 20px auto;
        }
        .filtro {
            margin-bottom: 20px;
        }
        select, button {
            padding: 10px;
            border-radius: 8px;
            border: 1px solid #d88ad8;
        }
        button {
            background: #e66ed6;
            color: white;
            cursor: pointer;
            border: none;
        }
        button:hover {
            background: #c457b8;
        }
        table {
            width: 80%;
            margin: auto;
            border-collapse: collapse;
            background: white;
            border-radius: 10px;
            overflow: hidden;
        }
        th {
            background: #ffb3ec;
            padding: 12px;
            color: #6a006a;
        }
        td {
            padding: 10px;
            border-bottom: 1px solid #ffd4fa;
        }
        tr:hover {
            background: #fff0fb;
        }
        /* Botón Ver Detalle */
.btn-detalle {
    padding: 8px 12px;
    background: #e75480;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 13px;
    margin-right: 5px;
    transition: 0.3s;
}

.btn-detalle:hover {
    background: #d83264;
}

/* Botón Eliminar */
.btn-eliminar {
    padding: 8px 12px;
    background: #ff6b81;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 13px;
    transition: 0.3s;
}

.btn-eliminar:hover {
    background: #d63051;
}

